* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(anh.png);
}

/* CSS cho phần menu ngang*/
.menu-ngang {
  display: flex;
  width: 100%;
  height: 80px;
  border: 1px solid rgb(0, 0, 0);
  position: fixed;
  background-color: white;
}
.menu-ngang-logo-va-tim-kiem-phan-ben-trong button a {
  text-decoration: none;
  color: white;
}
.menu-ngang .menu-ngang-cac-menu {
  background-color: white;
  width: 60%;
  height: 98%;
}
.menu-ngang .menu-ngang-cac-menu ul {
  display: flex;
  background-color: white;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.menu-ngang-cac-menu ul li:hover a {
  border-top: 5px solid rgb(255, 0, 0);
  color: red;
}
.menu-ngang-cac-menu ul li {
  text-decoration: none;
  list-style: none;
  height: 98%;
  display: flex;
  align-items: center;
}
.menu-ngang-cac-menu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}
.menu-ngang-logo-trai {
  width: 20%;
  height: 98%;
  display: flex;
  align-items: center;
}
.menu-ngang-logo-trai img {
  height: 70%;
  margin-left: 50%;
}
.menu-ngang-logo-va-tim-kiem {
  width: 20%;
  height: 98%;
  display: flex;
  align-items: center;
}
.menu-ngang-logo-va-tim-kiem .menu-ngang-logo-va-tim-kiem-phan-ben-trong {
  height: 50%;
  display: flex;
  align-items: center;
  border-left: 0.1px solid black;
}
.menu-ngang-logo-va-tim-kiem-phan-ben-trong button {
  background-color: rgb(255, 0, 0);
  align-items: center;
  width: 30%;
  height: 120%;
  border: none;
  margin-left: 10%;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
}
.menu-ngang-logo-va-tim-kiem-phan-ben-trong img {
  width: 7%;
  margin-left: 5%;
}
.anh-bia {
  width: 80%;
  display: top;
  margin-left: 10%;
  margin-right: 10%;
}
/* CSS cho phần menu phụ*/
.menu-phu-giua {
  width: 100%;
  height: 90px;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
.menu-phu-giua ul {
  display: flex;
  width: 100%;
  height: 50px;
  border-top: 0.5px solid rgb(0, 0, 0);
  background-color: white;
  margin-top: 20px;
  align-items: center;
}
.menu-phu-giua ul li {
  display: flex;
  text-decoration: none;
  color: darkgoldenrod;
}
.menu-phu-giua ul li a {
  text-decoration: none;
}
/* CSS cho phần blog */
/* CSS cho phần blog các ảnh*/
.blog-ben-duoi {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.blog-ben-duoi .blog-cac-anh {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
}
.blog-ben-duoi .blog-cac-anh img {
  width: 30%;
  height: auto;
  margin-top: 20px;
  margin-left: 20px;
}

/* CSS danh mục*/
.blog-ben-duoi .danh-muc-bai-viet {
  font-family: "Open Sans", sans-serif;
}
.blog-ben-duoi .danh-muc-bai-viet h4 {
  margin-top: 20px;
}
.blog-ben-duoi .danh-muc-bai-viet a {
  text-decoration: none;
  margin: 10px;
}
.blog-ben-duoi .danh-muc-bai-viet div {
  width: 400px;
  height: 50px;
  border: 0.1px solid black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.blog-ben-duoi .danh-muc-bai-viet div p {
  margin-left: 10px;
}
.blog-ben-duoi .danh-muc-bai-viet div img {
  width: 50px;
  border-radius: 10px;
  margin-left: 10px;
}
/*Css cho phần nhượng quyền*/
.dang-ky-nhuong-quyen {
  width: 100%;
  height: 200px;
  background-color: rgb(196, 198, 200);
  margin-top: 200px;
}
.form-dang-ky-nhuong-quyen {
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 90%;
  margin: auto;
  border: 0.1px solid rgb(5, 0, 0);
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
}

.form-dang-ky-nhuong-quyen p {
  margin-top: 30px;
  margin-left: 10px;
}
.form-dang-ky-nhuong-quyen b {
  color: red;
}
.form-dang-ky-nhuong-quyen1 input {
  border: 0.1px solid rgb(157, 157, 157);
  width: 150px;
  margin-left: 10px;
  margin-top: 10px;
  height: 30px;
  border-radius: 2px;
}
.form-dang-ky-nhuong-quyen2 button {
  background-color: red;
  color: aliceblue;
  width: 315px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  border: none;
}
